AZURE_OPENAI_ENDPOINT=https://aistudioaiservices343274518006.openai.azure.com/
AZURE_OPENAI_KEY=3kJAyOsfjZ4xnv3cz7W1tcMfLPBGjb0bWi0Wl4FPGIX2
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1-mini
EMBEDDING_MODEL_NAME=text-embedding-3-small
SERP_API_KEY=xxx

